.navbar-home {
    height: 65px;
}

.logo {
    padding-top: 11px;
}

.navbar-button {
    height: 65px;
}

.navbar-button > li > a {
    height: 65px;
    padding-top: 22px;
    font-size: 16px;
}

.recherche {
    padding-top: 10px;
}

.input-query {
    box-shadow: none;
    height: 45px;
    font-size: 18px;
}

.button-query {
    height: 45px;
    width: 45px;
    background-color: #47d4ff;
    border-color: #47d4ff
}

body {
    background-color: #f0f0f0;
}

.core {
    margin-top: 50px;
    background-color: white;
}

.carousel-inner {
    height: 50vh;
}

.carousel-imag {
    position:absolute;
    z-index: 1;
}

.carousel-masque {
    position: absolute;
    z-index: 2;
}

.carousel-text {
    margin-top: 2%;
    margin-left: 50%;
    width: 50%;
    height: 40vh;
    position: absolute;
    z-index: 3;
    overflow-y: auto;
    direction: rtl;
    text-align: end;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.carousel-text::-webkit-scrollbar {
    width: 9px;
}

.carousel-text::-webkit-scrollbar-track-piece {
    color: transparent;
}

.carousel-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
}



.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

.footer {
    text-align: right;
    padding-top: 10px;
    background-color: #0f0f0f;
    color: gray;
}