:root {
    --head-color:#233237;
    --head-color-hover: #3b555d;
    --second-color: #ff1000;
    --background: #ffffff;
    --button-color:#3fb0ac;
    --button-color-hover: #48cbc6;

}

.navbar-header {
    background-color: var(--head-color);
    height: 65px;
}

.logo {
    padding-top: 11px;
}

.navbar-button {
    text-align: center;
    letter-spacing: 2px;
    height: 65px;
    outline:none;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    color: white;
    transition: 0.15s ease;
}
.navbar-button:hover {
    background-color: var(--head-color-hover);
    color:white;
}

.mes-billets-but {
    font-size: 22px;
    background-color: var(--button-color);
}
.mes-billets-but:hover {
    background-color: var(--button-color-hover);
}

.recherche {
    padding-top: 10px;
}

.input-query {
    box-shadow: none;
    height: 45px;
    font-size: 18px;
}

.button-query {
    transition: 0.15s ease;
    height: 45px;
    width: 45px;
    background-color: var(--button-color);
    color: white;
}

.button-query:hover{
     background: var(--button-color-hover);
    color: white;
}

html {
    background-color: inherit;
    overflow-y:scroll;
}

body {
    background-color: var(--background);
    margin-top: 65px;
}

.cartFab {
    transition: 0.15s ease;
    line-height: 7.5rem;
    min-width: 0;
    width: 7rem;
    height: 7rem;
    background-color: var(--button-color);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    text-align: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
    font-size: 28px;
    position: fixed;
    bottom: 8%;
    right: 5%;
    outline:none;
}

.cartFab:hover {
    background-color: var(--button-color-hover);
}

.carousel-inner {
    height: 60vh;
}

.carousel-imag {
    position:absolute;
    z-index: 1;
}

.carousel-masque {
    position: absolute;
    z-index: 2;
}


.carousel-text {
    text-align: left;
    margin-top: 2%;
    margin-left: 50%;
    width: 50%;
    height: 50vh;
    position: absolute;
    z-index: 3;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.carousel-text::-webkit-scrollbar {
    width: 9px;
}

.carousel-text::-webkit-scrollbar-track-piece {
    color: transparent;
}

.carousel-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);

}

.carousel-control.right{
    background-image: none;
    width: 50px;
}

.carousel-control.left{
    background-image: none;
    width: 50px;
}


.footer {
    text-align: right;
    padding-top: 10px;
    background-color: #0f0f0f;
    color: gray;
}

.social-but {
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-radiobut {
    border-radius: 0;
    background-color: white;
    color: black;
    border-color: #dcdcdc;
}

.recherche-tile {
    width: 32%;
    transition: 0.1s linear all;
    background-color: #f0f0f0;
    padding: 0 0 0 0;
    margin: 5px;
    cursor:pointer;
    outline: none;
}

.recherche-tile-image {
    width: 100%;
    max-height: 160px;
    overflow: hidden;
}

.recherche-tile:hover {
    opacity:0.9;
    box-shadow: 0 0 5px 2px grey;
    transform: scale(1.02,1.02);
}

.recherche-tile:active {
    background-color: var(--button-color);
}

.recherche-param {
    box-shadow: 0 0 2px #656565;
    margin-bottom: 10px;
}

.recherche-param-titre {
    background-color: var(--head-color);
    color: white;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.recherche-param-button {
    transition: 0.15s ease;
    background-color: white;
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px 0 10px 0;
    outline: none;
}

.recherche-param-button:hover {
    background-color: #cbcbcb;
}

.recherche-param-radio {
    text-align: center;
}
.recherche-param-radio.active {
    background-color: var(--button-color);
    color: white;
}

.tileModalLeft img {
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
    max-width:100%;max-height:100%;
}

.tileModalLeft h6 {
    color:grey;
    margin-top: 20px;
    font-size: 15px;
    user-select: none;
}
.tileModalLeft h1 {
    margin-top: 10px;
}

.tileModalQuantity {
    float:right;
    user-select: none;
}

.tileModalInput{
    transition: 0.15s ease;
    width: 50px;
    text-align: center;
    font-size: 17px;
    outline: none;
    -moz-appearance: textfield;
    border: 0 solid var(--button-color);
}

.tileModalInput:focus {
    border-bottom-width: 2px;
}

.tileModalInput::-webkit-outer-spin-button,.tileModalInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tileModalQuantityButton:hover {
    cursor: pointer;
}

.tileModalPrice {
    float:left;
}

.tileModaladdToCart {
    transition: 0.15s ease;
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 8px;
    font-size: 23px;
    margin-top: 10px;
}
.tileModaladdToCart:hover {
    background-color: var(--button-color-hover);
}