.navbar-home {
    height: 65px;
}

.logo {
    padding-top: 11px;
}

.navbar-button {
    height: 65px;
}

.navbar-button > li > a {
    height: 65px;
    padding-top: 22px;
    font-size: 16px;
}

.recherche {
    padding-top: 10px;
}

.input-query {
    box-shadow: none;
    height: 45px;
    font-size: 18px;
}

.button-query {
    height: 45px;
    width: 45px;
    background-color: #47d4ff;
    border-color: #47d4ff
}

.mes_billets_but {
    margin-top: 13px;
    background-color: #47d4ff;
    border-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

.mes_billets_but:hover {
    background-color: #82dbff;

}

body {
    background-color: #f0f0f0;
    margin-top: 65px;
}

.core {
    background-color: white;
}

.carousel-inner {
    height: 60vh;
}

.carousel-imag {
    position:absolute;
    z-index: 1;
}

.carousel-masque {
    position: absolute;
    z-index: 2;
}

.carousel-text {
    text-align: left;
    margin-top: 2%;
    margin-left: 50%;
    width: 50%;
    height: 50vh;
    position: absolute;
    z-index: 3;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.carousel-text div {
}

.carousel-text::-webkit-scrollbar {
    width: 9px;
    padding-left: 200px;
}

.carousel-text::-webkit-scrollbar-track-piece {
    color: transparent;

}

.carousel-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);

}

.carousel-control.right{
    background-image: none;
    width: 50px;
}

.carousel-control.left{
    background-image: none;
    width: 50px;
}


.footer {
    text-align: right;
    padding-top: 10px;
    background-color: #0f0f0f;
    color: gray;
}

.navbar-inverse-perso {
    background-color: #222;
    border-color: #080808;
    display: block;
    position: relative;
}