:root {
    --head-color:#233237;
    --head-color-hover: #3b555d;
    --second-color: #ff1000;
    --background: #ffffff;
    --button-color:#3fb0ac;
    --button-color-hover: #48cbc6;

}

.navbar-header {
    background-color: var(--head-color);
    height: 65px;
    box-shadow: 0 0 10px #282828;
}

.logo {
    padding-top: 11px;
    margin-right: 5px;
}

.navbar-button {
    text-align: center;
    letter-spacing: 2px;
    height: 65px;
    outline:none;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border-color: transparent;
    font-size: 19px;
    color: white !important;
    transition: 0.15s ease;
}
.navbar-button:hover {
    background-color: var(--head-color-hover);
    color:white;
}

.mes-billets-but {
    font-size: 22px;
    background-color: var(--button-color);
}
.mes-billets-but:hover {
    background-color: var(--button-color-hover) !important;
}
.mes-billets-but:focus {
    background-color: var(--button-color-hover) !important;
}
a.navbar-button {
    text-decoration: none;
    color: initial;
    padding: 22px 6px !important;
    border: 2px !important;

}

.recherche {
    transition: 0.15s ease;
    display: inline-block;
    padding-top: 10px;
    width: 30%;
}

.input-query {
    box-shadow: none;
    height: 45px;
    font-size: 18px;
}

.button-query {
    transition: 0.15s ease;
    height: 45px;
    width: 45px;
    background-color: var(--button-color);
    color: white;
}

.button-query:focus{
    color:white;
}

.button-query:hover{
     background: var(--button-color-hover);
    color: white;
}

html {
    background-color: inherit;
    overflow-y:scroll;
}

body {
    background-color: var(--background);
    margin-top: 65px;
}

.accueil-ventre {
    margin-left: 280px;
}

.accueil-main {
    background: linear-gradient(-20deg, var(--button-color), var(--head-color-hover));
    color: white;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 50px;
}

.accueil-main-container {
    height: 300px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 1100px) {
    .accueil-main-container {
        display: none;
    }
    .accueil-ventre {
        height: 200px;
    }

}

.accueil-main-container-image {
    max-height: 270px;
    overflow: hidden;
}

.accueil-main-container-image > img {
    width: 100%;
    transition: 0.15s ease;
    -webkit-transform: translateZ(0);
    background-color: white;
}
.accueil-main-container-image > img:hover {
    opacity: 0.8;
}

.accueil-nous {
    float: left;
    width: 100%;
    background: linear-gradient(-20deg, #899b9f, white);
    padding: 50px 200px 50px 70px;
}

.accueil-nous-titre {
    font-size: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.accueil-nous-container {
    float: left;
    width: 100%;
}

.accueil-nous-container-image {
    float: left;
}

.accueil-nous-container-image > img {
    width: 120px;
    border-radius: 50%;
}

.accueil-nous-container-text {
    float: left;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.accueil-nous-container-text > div {
    font-weight: 600;
}

.accueil-nous-right {
    float: right;!important;
    direction: rtl;
}

@media screen and (max-width: 1300px) {
    .accueil-nous {
        padding-right: 0;
    }

    .accueil-nous-right {
        float: left;!important;
        padding-top: 15px;
        padding-bottom: 15px;
        direction: ltr;
    }
}

.accueil-footer {
    width: 100%;
    background-color: #0f0f0f;
    float: left;
    padding-left: 190px;
}



.social-but {
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-radiobut {
    border-radius: 0;
    background-color: white;
    color: black;
    border-color: #dcdcdc;
}

.recherche-tile {
    transition: 0.1s linear all;
    background-color: #f0f0f0;
    padding: 0 0 0 0;
    cursor:pointer;
    outline: none;
    height: 245px;
    overflow: hidden;
}

.recherche-tile-image {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.recherche-tile:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px 2px grey;
    transform: scale(1.02,1.02);
}

.recherche-tile:active {
    background-color: var(--button-color);
    color: white;
}

.recherche-param {
    box-shadow: 0 0 2px #656565;
    margin-bottom: 10px;
    background-color: white;
}

.recherche-param-titre {
    background-color: var(--head-color);
    color: white;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.recherche-param-button {
    transition: 0.15s ease;
    background-color: white;
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px 0 10px 0;
    outline: none;
}

.recherche-param-button:hover {
    background-color: #cbcbcb;
}

.recherche-param-radio {
    text-align: center;
}
.recherche-param-radio.active {
    background-color: var(--button-color);
    color: white;
}

.tileModalLeft img {
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
    max-width:100%;max-height:100%;
}

.tileModalQuantity {
    float:right;
    user-select: none;
}
th {
    padding-right: 15px;
    padding-left: 15px;
}

td {
    border: 1px solid lightgrey;
}

.table-number {
    text-align: center;
}

.table-radio {
    margin: 10px;
}

.tileModalInput{
    transition: 0.15s ease;
    width: 50px;
    text-align: center;
    font-size: 17px;
    outline: none;
    -moz-appearance: textfield;
    border: 0 solid var(--button-color);
}

.tileModalInput:focus {
    border-bottom-width: 2px;
}

.tileModalInput::-webkit-outer-spin-button,.tileModalInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tileModalQuantityButton:hover {
    cursor: pointer;
}

.tileModalPrice {
    float:left;
}

.tileModaladdToCart {
    transition: 0.15s ease;
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 8px;
    font-size: 23px;
    margin-top: 10px;
    width: 100%!important;
    display: block!important;
    text-align: center;
}
.tileModaladdToCart:hover {
    color: white!important;
    text-decoration: none!important;
    background-color: var(--button-color-hover);
}

.leftSideNav {
    position: fixed;
    height: 100vh;
    width: 280px;
    box-shadow: 0 0 10px #a4a4a4;
    background-color: #eeeeee;
}

.leftSideNavGroup {
    margin-top: 8px;
    margin-bottom: 8px;
}

.leftSideNavGroup  p {
    margin: 0;
}
.leftSideNav .icon {
    display: none;
}
.leftSideNavGroup  span + p {
    display: inline;
    padding-left: 5px;
}

.leftSideNavGroup > button {
    transition: 0.2s ease;
    border-width: 0;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    outline:0;
    text-align: left;
    padding: 5px 0 5px 10px;
}

.leftSideNavGroup > button:hover,
.leftSideNavGroup > button:focus{
    background-color: #d2d2d2;
    border-left: 5px solid var(--button-color);
}
.leftSideNavGroup > button:active{
    background-color: #bfbfbf;
}
.leftSideNavSeparator {
    height: 1px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: var(--button-color);
}
.leftSideNavSeparatorMin {
    height: 1px;
    margin-right: 100%;
    background-color: #dedede;
}

.leftSideNavButtons,
.leftSideNavButtons2 {
    transition: 0.2s ease;
    position: absolute;
    margin-left: 0;
    width: 100%;
}


.leftSideNavButtons.ng-hide {
    opacity: 0;
    margin-left: -200px;
}

.leftSideNavButtons2.ng-hide {
    transition: 0.2s ease;
    opacity: 0;
}

.disabled-but {
    background-color: lightgrey;
    pointer-events: none;
}

.boutonFermer {
    transition: 0.2s ease;
    background-color: transparent;
    border: none;
    transform: scale(1.3,1.0);
    font-size: 22px;
    color: grey;
    float: right;
    outline: 0;
}
.boutonFermer:hover {
    color:black;
}

.panierTile {
    height:200px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.checkout {
    background-color: var(--head-color-hover);
    height: calc(100vh - 65px);
}

.checkout .title {
    font-size: 25px;
    text-align: center;
    background-color: #eaeaea;
    padding: 7px;
}

.checkout .window {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #282828;
}

.checkout .form-group {
    float: left;
    margin: 20px 32px 20px 32px;
}

.checkout p {
    margin: 0;
    color: gray;
}
.checkout .input-block-level {
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    transition: 0.3s ease;
    outline-color: limegreen;
}

.checkout .input-email {
    outline-color: limegreen;
    display: block;
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    width: 330px;
}

.ng-invalid {
    outline-color: red!important;
}

.recherche-loading {
    padding-top: 15vh;
    padding-left: calc(49.8% - 50px);
    pointer-events: none;
}