<div ng-controller="checkout-controller" class="checkout">

    <div style="height: 25px"></div>

    <div class="window">
        <div class="title">Résumé de la commande</div>
        <ngcart-cart></ngcart-cart>

    </div>

    <div style="height: 25px"></div>

    <div class="window">
        <div class="title">Entrez vos informations de paiement</div>

        <form stripe-form="stripeCallback" name="myForm">

            <div class="form-group">
                <p>Saisissez votre adresse Mail</p>
                <input type="email" class="input-email" ng-model="mail" required>
            </div>

            <div class="form-group">
                <p>Nom apparaissant sur la carte</p>
                <input class="input-email" ng-model="nom" required>
            </div>


            <div class="form-group">
                <p>Numéro de carte</p>
                <input type="text" class="input-block-level" style="width: 330px;" ng-model="number" payments-validate="card" payments-format="card" placeholder="xxxx xxxx xxxx xxxx"/>
            </div>

            <div class="form-group">
                <p>Date d'expiration</p>
            <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="mm/aa" style="width: 170px"/>
            </div>

            <div class="form-group">
                <p>Numéro CVC</p>
                <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" placeholder="xxx" style="width: 100px;"/>
            </div>

            <button type="submit" class="tileModaladdToCart">Valider</button>

        </form>
    </div>
    <div ng-if="transactionTerminer == true" style="text-align: center; width: 100%; color: white; font-size: 20px; margin-top: 5px">
        Payement effectué avec succès
    </div>
</div>