<div ng-controller="checkout-controller" class="checkout">

    <div style="height: 25px"></div>
    <div class="window">
        <div class="title">Entrez vos informations de paiement</div>

        <form stripe-form="stripeCallback" name="myForm">

            <div class="form-group" style="float:none!important;">
                <p>Saisissez votre adresse Mail</p>
                <input type="email" class="input-email" ng-model="email">
            </div>

            <div class="form-group">
                <p>Numéro de carte</p>
                <input type="text" class="input-block-level" style="width: 330px;" ng-model="number" payments-validate="card" payments-format="card" placeholder="xxxx xxxx xxxx xxxx"/>
            </div>

            <div class="form-group">
                <p>Date d'expiration</p>
            <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="mm/aa"/>
            </div>

            <div class="form-group">
                <p>Numéro CVC</p>
                <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" placeholder="xxx" style="width: 85px;"/>
            </div>

            <button type="submit" class="tileModaladdToCart">Valider</button>

        </form>

    </div>
</div>