<header>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-home">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="#">
                    <img src="img/logo.png" alt="MySpectacle" class="hidden-xs hidden-sm">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right navbar-button">
                <li>
                    <button class="navbar-inverse navbar-button mon-compte-but" ng-controller="compteModal" ng-click="openModal('connexion.html', 'connexionController')">
                        <span class="glyphicon glyphicon-user"></span> Mon compte</button>
                </li>
                <li><a href="#!cart"><span class="glyphicon glyphicon-shopping-cart"></span> Panier</a></li>
            </ul>

            <a href="#!billets" class="navbar-right btn mes-billets-but"> Mes billets</a>

            <div ng-controller="rechercher" class="col-sm-4 recherche">
                <div class="input-group group_query">
                    <input id="query"
                           type="text"
                           class="form-control input-query"
                           placeholder="Chercher un spectacle"
                           ng-keydown="rechercher($event.keyCode)"
                    >
                    <div class="input-group-btn">
                        <button class="btn  button-query" ng-click="rechercher(13)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</header>