<div ng-controller="panier" style="margin-left: 280px">
    <div class="col-md-7" style="width:1000px;margin-left: 4%">
        <h2>Votre Panier</h2>
        <hr>

        <div class="alert alert-warning" role="alert" ng-show="cart.getTotalItems() === 0">
            Votre panier est vide.
        </div>


        <div ng-show="cart.getTotalItems() > 0">
            <div ng-repeat="item in cart.getCart().items track by $index">
                <div style="height:200px;width: 100%;margin-bottom: 20px;background-color: #f0f0f0;">

                    <button class="boutonFermer" style="padding-right: 10px" ng-click="cart.removeItemById(item.getId())">x</button>

                    <div style="height: 100%; width: 20px;background-color: var(--button-color);float: left"></div>
                    <img style="height: 100%;float: left" src="test/spectacle1.jpg">

                    <div style="float: left;padding-left: 20px">
                        <h2>{{item.getName()}}</h2>

                        <div style="width: 100%;color: grey;margin-top: 20px;font-size: 15px;">
                            <span>prix</span>
                            <span style="float: right">quantité</span>
                        </div>

                        <div>
                            <span style="font-size: 36px; font-weight: 500">{{item.getPrice()}}€</span>
                            <div style="float:right; margin-top: 12px;user-select: none;">
                                <i class="fa fa-minus fa-lg tileModalQuantityButton" aria-hidden="true" ng-click="moinsUn(item)"></i>
                                <span style="padding-right: 10px;padding-left: 10px">{{ item.getQuantity() | number }}</span>
                                <i class="fa fa-plus fa-lg tileModalQuantityButton" aria-hidden="true" ng-click="plusUn(item)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

