<div class="col-md-8 col-md-offset-1 core">
    <h1>Votre recherche</h1>
    <p> Affiner votre recherche avec les filtres à disposition sur la droite de l'écran </p>

</div>


<div class="col-md-2" ng-controller="recherche">
    <div class="well">Votre recherche :
        <h5 id="well-query"></h5>
    </div>
    <div class="btn-group btn-block core">

        <span class=" label navbar-inverse-perso">Régions</span>

        <div ng-dropdown-multiselect="" options="regionDropdownData" selected-model="regionDropdownModel" extra-settings="regionDropdownSettings"></div>
    </div>

    <div class="btn-group btn-block core">

        <span class=" label navbar-inverse-perso">Période</span>

        <div class="col-md-offset-1"><h4>Debut</h4></div>

        <div class="col-md-12">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>

        <div class="col-md-offset-1"><h4>Fin</h4></div>

        <div class="col-md-12">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>

    </div>

    <div class="btn-group btn-block core">

        <span class="label navbar-inverse-perso">Rechercher ...</span>

        <label class="btn btn-info btn-radiobut btn-block" ng-model="radioModel" uib-btn-radio="'evenement'">un evenement</label>
        <label class="btn btn-info btn-radiobut btn-block" ng-model="radioModel" uib-btn-radio="'salle'">une salle</label>
        <label class="btn btn-info btn-radiobut btn-block" ng-model="radioModel" uib-btn-radio="'artiste'">un artiste</label>

    </div>
</div>